
<section [@flyInOut]="state">
    <div class="item" (change)="changes()">
        <input type="text" id="itemName{{id}}" [(ngModel)]="name" class="text-input-box form-control " placeholder="Enter name">
        <div class="field-Container">
            <select class="dropdown form-control" id="transportDD{{id}}" [(ngModel)]="type">
                <option *ngFor="let type of transportTypes" [value]="type">{{type}}</option>
            </select>
            <button  mat-icon-button matTooltipPosition="below" matTooltip="Select the type of transportation of raw materials / product">
                <mat-icon aria-hidden="false" fontIcon="info_outline"></mat-icon>
            </button>
        </div>

        <div class="field-Container" *ngIf="showOther">
            <input type="number" id="extra{{id}}" class="text-input-box form-control " placeholder="Enter CO2 eq." [(ngModel)]="other">
            <button mat-icon-button matTooltipPosition="below" matTooltip="Enter the CO2 equivalent index of your vehicle. If you are not sure about the CO2 equivalent index check the how to use this tool part of the page.">
                <mat-icon aria-hidden="false" fontIcon="info_outline"></mat-icon>
            </button>
        </div>

        <div class="field-Container">
            <input id="distance{{id}}" [(ngModel)]="distance" type="number" class="text-input-box form-control" placeholder="Distance (Km)">
            <button mat-icon-button matTooltipPosition="below" matTooltip="Fill in the transportation distance of the raw materials / product (in km).">
                <mat-icon aria-hidden="false" fontIcon="info_outline"></mat-icon>
            </button>
        </div>

        <div class="field-Container">
            <input id="weight{{id}}" [(ngModel)]="weight" type="number" class="text-input-box form-control" placeholder="Weight (T)">
            <button mat-icon-button matTooltipPosition="below" matTooltip="Fill in the weight of the materials that are transported (in ton or units of 1000 kg).">
                <mat-icon aria-hidden="false" fontIcon="info_outline"></mat-icon>
            </button>
        </div>

        <div class="field-Container">
            <input id="economicAllocation{{id}}" [(ngModel)]="economicAllocation" class="text-input-box form-control" placeholder="Share of cost">
            <button mat-icon-button matTooltipPosition="below" matTooltip="In case more goods are transported the footprint share can be calculated by the fraction of the transport cost of the product divided by the total transport cost. If no other products are transported than this value can be omitted.">
                <mat-icon aria-hidden="false" fontIcon="info_outline"></mat-icon>
            </button>
        </div>

        <button mat-icon-button (click)="deleteItem()">
            <mat-icon fontIcon="cancel"></mat-icon>
        </button>

    </div>
</section>
