<body>

<div class="container text-center my-auto">
  <h1 >Biodiversity footprint calculator</h1>
  <h3 id="description" class="mb-5">
    <em>A free calculation tool by Plansup to assess both current and future biodiversity footprint of a company’s product at the landscape level. The tool will also allow you to test the effectiveness of presumed biodiversity friendly measures.</em>
  </h3>

  <div routerLink="/calculator" class="button-calc">
    <a class="btn text-white  btn-xl js-scroll-trigger">Go to calculator »</a>
  </div>
</div>
</body>

